<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.trainingsystem.Dao.AttendanceMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.trainingsystem.Model.Attendance" >
    <id column="AttendanceID" property="attendanceid" jdbcType="INTEGER" />
    <result column="AttendanceDate" property="attendancedate" jdbcType="DATE" />
    <result column="PersonnelId" property="personnelid" jdbcType="INTEGER" />
    <result column="AttendanceState" property="attendancestate" jdbcType="CHAR" />
    <result column="IsRemind" property="isremind" jdbcType="CHAR" />
    <result column="CreateDate" property="createdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    AttendanceID, AttendanceDate, PersonnelId, AttendanceState, IsRemind, CreateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attendance
    where AttendanceID = #{attendanceid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="com.ssm.trainingsystem.Model.Attendance" parameterType="com.ssm.trainingsystem.Model.Attendance">
      SELECT <include refid="Base_Column_List"/> from attendance WHERE 1=1
    </select>
  <select id="selectOne" resultType="com.ssm.trainingsystem.Model.Attendance" parameterType="java.lang.Integer">
      SELECT <include refid="Base_Column_List"/> from attendance WHERE AttendanceID = #{attendanceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attendance
    where AttendanceID = #{attendanceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.trainingsystem.Model.Attendance" >
    insert into attendance (AttendanceID, AttendanceDate, PersonnelId, 
      AttendanceState, IsRemind, CreateDate
      )
    values (#{attendanceid,jdbcType=INTEGER}, #{attendancedate,jdbcType=DATE}, #{personnelid,jdbcType=INTEGER}, 
      #{attendancestate,jdbcType=CHAR}, #{isremind,jdbcType=CHAR}, #{createdate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.trainingsystem.Model.Attendance" >
    insert into attendance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attendanceid != null" >
        AttendanceID,
      </if>
      <if test="attendancedate != null" >
        AttendanceDate,
      </if>
      <if test="personnelid != null" >
        PersonnelId,
      </if>
      <if test="attendancestate != null" >
        AttendanceState,
      </if>
      <if test="isremind != null" >
        IsRemind,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attendanceid != null" >
        #{attendanceid,jdbcType=INTEGER},
      </if>
      <if test="attendancedate != null" >
        #{attendancedate,jdbcType=DATE},
      </if>
      <if test="personnelid != null" >
        #{personnelid,jdbcType=INTEGER},
      </if>
      <if test="attendancestate != null" >
        #{attendancestate,jdbcType=CHAR},
      </if>
      <if test="isremind != null" >
        #{isremind,jdbcType=CHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.trainingsystem.Model.Attendance" >
    update attendance
    <set >
      <if test="attendancedate != null" >
        AttendanceDate = #{attendancedate,jdbcType=DATE},
      </if>
      <if test="personnelid != null" >
        PersonnelId = #{personnelid,jdbcType=INTEGER},
      </if>
      <if test="attendancestate != null" >
        AttendanceState = #{attendancestate,jdbcType=CHAR},
      </if>
      <if test="isremind != null" >
        IsRemind = #{isremind,jdbcType=CHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=DATE},
      </if>
    </set>
    where AttendanceID = #{attendanceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.trainingsystem.Model.Attendance" >
    update attendance
    set AttendanceDate = #{attendancedate,jdbcType=DATE},
      PersonnelId = #{personnelid,jdbcType=INTEGER},
      AttendanceState = #{attendancestate,jdbcType=CHAR},
      IsRemind = #{isremind,jdbcType=CHAR},
      CreateDate = #{createdate,jdbcType=DATE}
    where AttendanceID = #{attendanceid,jdbcType=INTEGER}
  </update>
</mapper>