<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.trainingsystem.Dao.ExaminationpapersMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.trainingsystem.Model.Examinationpapers" >
    <id column="examinationpapersid" property="examinationpapersid" jdbcType="INTEGER" />
    <result column="testpaperid" property="testpaperid" jdbcType="INTEGER" />
    <result column="itembankid" property="itembankid" jdbcType="INTEGER" />
    <result column="sequencenumber" property="sequencenumber" jdbcType="CHAR" />
    <result column="topictypes" property="topictypes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    examinationpapersid, testpaperid, itembankid, sequencenumber, topictypes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from examinationpapers
    where examinationpapersid = #{examinationpapersid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from examinationpapers
    where examinationpapersid = #{examinationpapersid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.trainingsystem.Model.Examinationpapers" >
    insert into examinationpapers (examinationpapersid, testpaperid, 
      itembankid, sequencenumber, topictypes
      )
    values (#{examinationpapersid,jdbcType=INTEGER}, #{testpaperid,jdbcType=INTEGER}, 
      #{itembankid,jdbcType=INTEGER}, #{sequencenumber,jdbcType=CHAR}, #{topictypes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.trainingsystem.Model.Examinationpapers" >
    insert into examinationpapers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examinationpapersid != null" >
        examinationpapersid,
      </if>
      <if test="testpaperid != null" >
        testpaperid,
      </if>
      <if test="itembankid != null" >
        itembankid,
      </if>
      <if test="sequencenumber != null" >
        sequencenumber,
      </if>
      <if test="topictypes != null" >
        topictypes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examinationpapersid != null" >
        #{examinationpapersid,jdbcType=INTEGER},
      </if>
      <if test="testpaperid != null" >
        #{testpaperid,jdbcType=INTEGER},
      </if>
      <if test="itembankid != null" >
        #{itembankid,jdbcType=INTEGER},
      </if>
      <if test="sequencenumber != null" >
        #{sequencenumber,jdbcType=CHAR},
      </if>
      <if test="topictypes != null" >
        #{topictypes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.trainingsystem.Model.Examinationpapers" >
    update examinationpapers
    <set >
      <if test="testpaperid != null" >
        testpaperid = #{testpaperid,jdbcType=INTEGER},
      </if>
      <if test="itembankid != null" >
        itembankid = #{itembankid,jdbcType=INTEGER},
      </if>
      <if test="sequencenumber != null" >
        sequencenumber = #{sequencenumber,jdbcType=CHAR},
      </if>
      <if test="topictypes != null" >
        topictypes = #{topictypes,jdbcType=VARCHAR},
      </if>
    </set>
    where examinationpapersid = #{examinationpapersid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.trainingsystem.Model.Examinationpapers" >
    update examinationpapers
    set testpaperid = #{testpaperid,jdbcType=INTEGER},
      itembankid = #{itembankid,jdbcType=INTEGER},
      sequencenumber = #{sequencenumber,jdbcType=CHAR},
      topictypes = #{topictypes,jdbcType=VARCHAR}
    where examinationpapersid = #{examinationpapersid,jdbcType=INTEGER}
  </update>
</mapper>