<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.trainingsystem.Dao.ItembankMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.trainingsystem.Model.Itembank" >
    <id column="itembankid" property="itembankid" jdbcType="INTEGER" />
    <result column="typequestionsid" property="typequestionsid" jdbcType="INTEGER" />
    <result column="topictypes" property="topictypes" jdbcType="CHAR" />
    <result column="questioncontent" property="questioncontent" jdbcType="VARCHAR" />
    <result column="testscores" property="testscores" jdbcType="VARCHAR" />
    <result column="questionanswers" property="questionanswers" jdbcType="VARCHAR" />
    <result column="personnelid" property="personnelid" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updatedate" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="releasedate" property="releasedate" jdbcType="TIMESTAMP" />
    <result column="isrelease" property="isrelease" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    itembankid, typequestionsid, topictypes, questioncontent, testscores, questionanswers, 
    personnelid, createdate, updatedate, releasedate, isrelease, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from itembank
    where itembankid = #{itembankid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from itembank
    where itembankid = #{itembankid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.trainingsystem.Model.Itembank" >
    insert into itembank (itembankid, typequestionsid, topictypes, 
      questioncontent, testscores, questionanswers, 
      personnelid, createdate, updatedate, 
      releasedate, isrelease, remarks
      )
    values (#{itembankid,jdbcType=INTEGER}, #{typequestionsid,jdbcType=INTEGER}, #{topictypes,jdbcType=CHAR}, 
      #{questioncontent,jdbcType=VARCHAR}, #{testscores,jdbcType=VARCHAR}, #{questionanswers,jdbcType=VARCHAR}, 
      #{personnelid,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{releasedate,jdbcType=TIMESTAMP}, #{isrelease,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.trainingsystem.Model.Itembank" >
    insert into itembank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itembankid != null" >
        itembankid,
      </if>
      <if test="typequestionsid != null" >
        typequestionsid,
      </if>
      <if test="topictypes != null" >
        topictypes,
      </if>
      <if test="questioncontent != null" >
        questioncontent,
      </if>
      <if test="testscores != null" >
        testscores,
      </if>
      <if test="questionanswers != null" >
        questionanswers,
      </if>
      <if test="personnelid != null" >
        personnelid,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="updatedate != null" >
        updatedate,
      </if>
      <if test="releasedate != null" >
        releasedate,
      </if>
      <if test="isrelease != null" >
        isrelease,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itembankid != null" >
        #{itembankid,jdbcType=INTEGER},
      </if>
      <if test="typequestionsid != null" >
        #{typequestionsid,jdbcType=INTEGER},
      </if>
      <if test="topictypes != null" >
        #{topictypes,jdbcType=CHAR},
      </if>
      <if test="questioncontent != null" >
        #{questioncontent,jdbcType=VARCHAR},
      </if>
      <if test="testscores != null" >
        #{testscores,jdbcType=VARCHAR},
      </if>
      <if test="questionanswers != null" >
        #{questionanswers,jdbcType=VARCHAR},
      </if>
      <if test="personnelid != null" >
        #{personnelid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="releasedate != null" >
        #{releasedate,jdbcType=TIMESTAMP},
      </if>
      <if test="isrelease != null" >
        #{isrelease,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.trainingsystem.Model.Itembank" >
    update itembank
    <set >
      <if test="typequestionsid != null" >
        typequestionsid = #{typequestionsid,jdbcType=INTEGER},
      </if>
      <if test="topictypes != null" >
        topictypes = #{topictypes,jdbcType=CHAR},
      </if>
      <if test="questioncontent != null" >
        questioncontent = #{questioncontent,jdbcType=VARCHAR},
      </if>
      <if test="testscores != null" >
        testscores = #{testscores,jdbcType=VARCHAR},
      </if>
      <if test="questionanswers != null" >
        questionanswers = #{questionanswers,jdbcType=VARCHAR},
      </if>
      <if test="personnelid != null" >
        personnelid = #{personnelid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        updatedate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="releasedate != null" >
        releasedate = #{releasedate,jdbcType=TIMESTAMP},
      </if>
      <if test="isrelease != null" >
        isrelease = #{isrelease,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where itembankid = #{itembankid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.trainingsystem.Model.Itembank" >
    update itembank
    set typequestionsid = #{typequestionsid,jdbcType=INTEGER},
      topictypes = #{topictypes,jdbcType=CHAR},
      questioncontent = #{questioncontent,jdbcType=VARCHAR},
      testscores = #{testscores,jdbcType=VARCHAR},
      questionanswers = #{questionanswers,jdbcType=VARCHAR},
      personnelid = #{personnelid,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      updatedate = #{updatedate,jdbcType=TIMESTAMP},
      releasedate = #{releasedate,jdbcType=TIMESTAMP},
      isrelease = #{isrelease,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where itembankid = #{itembankid,jdbcType=INTEGER}
  </update>
</mapper>