<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.trainingsystem.Dao.LogonlogMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.trainingsystem.Model.Logonlog" >
    <id column="logid" property="logid" jdbcType="INTEGER" />
    <result column="logdate" property="logdate" jdbcType="TIMESTAMP" />
    <result column="logaddress" property="logaddress" jdbcType="VARCHAR" />
    <result column="personnelid" property="personnelid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    logid, logdate, logaddress, personnelid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from logonlog
    where logid = #{logid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from logonlog
    where logid = #{logid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.trainingsystem.Model.Logonlog" >
    insert into logonlog (logid, logdate, logaddress, 
      personnelid)
    values (#{logid,jdbcType=INTEGER}, #{logdate,jdbcType=TIMESTAMP}, #{logaddress,jdbcType=VARCHAR}, 
      #{personnelid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.trainingsystem.Model.Logonlog" >
    insert into logonlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        logid,
      </if>
      <if test="logdate != null" >
        logdate,
      </if>
      <if test="logaddress != null" >
        logaddress,
      </if>
      <if test="personnelid != null" >
        personnelid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        #{logid,jdbcType=INTEGER},
      </if>
      <if test="logdate != null" >
        #{logdate,jdbcType=TIMESTAMP},
      </if>
      <if test="logaddress != null" >
        #{logaddress,jdbcType=VARCHAR},
      </if>
      <if test="personnelid != null" >
        #{personnelid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.trainingsystem.Model.Logonlog" >
    update logonlog
    <set >
      <if test="logdate != null" >
        logdate = #{logdate,jdbcType=TIMESTAMP},
      </if>
      <if test="logaddress != null" >
        logaddress = #{logaddress,jdbcType=VARCHAR},
      </if>
      <if test="personnelid != null" >
        personnelid = #{personnelid,jdbcType=INTEGER},
      </if>
    </set>
    where logid = #{logid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.trainingsystem.Model.Logonlog" >
    update logonlog
    set logdate = #{logdate,jdbcType=TIMESTAMP},
      logaddress = #{logaddress,jdbcType=VARCHAR},
      personnelid = #{personnelid,jdbcType=INTEGER}
    where logid = #{logid,jdbcType=INTEGER}
  </update>
</mapper>