<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.trainingsystem.Dao.NumberclassMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.trainingsystem.Model.Numberclass" >
    <id column="numberclassid" property="numberclassid" jdbcType="INTEGER" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="classroomuumber" property="classroomuumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    numberclassid, classname, school, remarks, classroomuumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from numberclass
    where numberclassid = #{numberclassid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from numberclass
    where numberclassid = #{numberclassid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.trainingsystem.Model.Numberclass" >
    insert into numberclass (numberclassid, classname, school, 
      remarks, classroomuumber)
    values (#{numberclassid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{classroomuumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.trainingsystem.Model.Numberclass" >
    insert into numberclass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="numberclassid != null" >
        numberclassid,
      </if>
      <if test="classname != null" >
        classname,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="classroomuumber != null" >
        classroomuumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="numberclassid != null" >
        #{numberclassid,jdbcType=INTEGER},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="classroomuumber != null" >
        #{classroomuumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.trainingsystem.Model.Numberclass" >
    update numberclass
    <set >
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="classroomuumber != null" >
        classroomuumber = #{classroomuumber,jdbcType=VARCHAR},
      </if>
    </set>
    where numberclassid = #{numberclassid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.trainingsystem.Model.Numberclass" >
    update numberclass
    set classname = #{classname,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      classroomuumber = #{classroomuumber,jdbcType=VARCHAR}
    where numberclassid = #{numberclassid,jdbcType=INTEGER}
  </update>
</mapper>