<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.trainingsystem.Dao.RolepersonnelMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.trainingsystem.Model.Rolepersonnel" >
    <id column="rolepersonnelId" property="rolepersonnelid" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="personnelId" property="personnelid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    rolepersonnelId, roleid, personnelId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rolepersonnel
    where rolepersonnelId = #{rolepersonnelid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rolepersonnel
    where rolepersonnelId = #{rolepersonnelid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.trainingsystem.Model.Rolepersonnel" >
    insert into rolepersonnel (rolepersonnelId, roleid, personnelId
      )
    values (#{rolepersonnelid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{personnelid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.trainingsystem.Model.Rolepersonnel" >
    insert into rolepersonnel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolepersonnelid != null" >
        rolepersonnelId,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="personnelid != null" >
        personnelId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolepersonnelid != null" >
        #{rolepersonnelid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="personnelid != null" >
        #{personnelid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.trainingsystem.Model.Rolepersonnel" >
    update rolepersonnel
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="personnelid != null" >
        personnelId = #{personnelid,jdbcType=INTEGER},
      </if>
    </set>
    where rolepersonnelId = #{rolepersonnelid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.trainingsystem.Model.Rolepersonnel" >
    update rolepersonnel
    set roleid = #{roleid,jdbcType=INTEGER},
      personnelId = #{personnelid,jdbcType=INTEGER}
    where rolepersonnelId = #{rolepersonnelid,jdbcType=INTEGER}
  </update>
</mapper>